body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  padding: 5rem;
}
html {
  font-size: 62.5%;
}
.show-detail {
  height: 24px;
  width: 24px;
  transition: all 0.15s;
}

.pressed {
  transform: rotate(90deg);
}
.task {
  height: fit-content;
  width: 48rem;
  margin-top: 1rem;
  color: rgb(61, 61, 61);
  padding: 1rem 1.5rem;
  font-size: 1.3rem;
  background-color: #f3f3f3;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
}

.task-finished {
  background-color: #8edd9b;
}
.task-date {
  margin-left: 3rem;
  max-height: 0;
  opacity: 0;
  transition: all 0.3s;
}

.task-date-open {
  max-height: 50px;
  opacity: 1;
}
.min-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.task-content {
  text-align: center;
  margin-left: 1rem;
  font-size: 1.8rem;
}
.hidden {
  visibility: hidden;
}

.task-content-removed {
  text-decoration: line-through;
}

.checkmark {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 5px;
  position: relative;
  transition: background-color 0.3s;
}

.checked {
  background-color: #3fff00;
}

.unchecked {
  width: 1.8rem;
  height: 1.8rem;
  border: 2px solid grey;
}
